In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data = pd.read_csv("../datasets/kaggle/baby_names/NationalNames.csv")

In [14]:
len(str(data.shape[0]))

7

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
data.head()

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746

In [5]:
X,y = data['Name'].values, data['Gender'].values

In [7]:
y = LabelEncoder().fit_transform(y)

In [9]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)