In [1]:
li = [2, 4, 6, 7, 9]

In [3]:
b = li[0:3]

In [4]:
li[:2] = range(10)

In [5]:
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 9]

In [6]:
li[:5] = []

In [7]:
li

[5, 6, 7, 8, 9, 6, 7, 9]

In [26]:
li = [5, 6, 7, 8, 9, 6, 7, 9]
tup = (7000, 8000, 9000)

In [27]:
li

[5, 6, 7, 8, 9, 6, 7, 9]

In [28]:
li[3:3] = tup

In [29]:
li

[5, 6, 7, 7000, 8000, 9000, 8, 9, 6, 7, 9]

In [30]:
li[2:4] = []

In [31]:
li

[5, 6, 8000, 9000, 8, 9, 6, 7, 9]

In [36]:
li[2] is tup[1]

True

In [42]:
a = 6000

In [43]:
b = a

In [44]:
del(a)

In [45]:
b

6000

In [46]:
del(b)

In [47]:
a = 5
b = 7

In [48]:
(a, b)

(5, 7)

In [49]:
(3, 6, 6, 11)

(3, 6, 6, 11)

In [51]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [52]:
tuple("hello")

('h', 'e', 'l', 'l', 'o')

In [54]:
a = (3000, 4000, 5000)

In [56]:
li = list(a)

In [58]:
li.insert(1, 8000)

In [59]:
b = tuple(li)

In [63]:
a[1] is b[2]

True

In [64]:
tuple("hello")

('h', 'e', 'l', 'l', 'o')

In [65]:
d = dict()

In [66]:
d["Apple"] = "Sweet red fruit"

In [67]:
d["Mango"] = "King of fruits"

In [68]:
d

{'Apple': 'Sweet red fruit', 'Mango': 'King of fruits'}

In [69]:
hash(33)

33

In [70]:
hash("apple")

-5839790421676779767

In [71]:
hash("apple")

-5839790421676779767

In [72]:
d[12] = "hrrrr"

In [74]:
d[(44, 55)] = 77777

In [75]:
d

{'Apple': 'Sweet red fruit',
 'Mango': 'King of fruits',
 12: 'hrrrr',
 (44, 55): 77777}

In [83]:
d[(44, 55)] = 77777

In [80]:
"Apple" in d

True

In [84]:
line = "a clever fox jump out of another fox"

In [85]:
freq = {}

for item in line:
    
    if item in freq:
        freq[item] += 1
    else:
        freq[item] = 1

In [89]:
s = set()

In [90]:
s.add(22)

In [91]:
s.add(22)

In [98]:
set("hello")

{'e', 'h', 'l', 'o'}

In [100]:
print(set([1, 11, 22, 2, 55555, 2222, 7777777]))

{1, 2, 55555, 11, 2222, 7777777, 22}

In [103]:
for item in s:
    print(item)

22

In [104]:
freq = {}

for item in line:
    
    if item in set("aeiou"):
        if item in freq:
            freq[item] += 1
        else:
            freq[item] = 1

{'a': 2, 'e': 3, 'o': 5, 'u': 2}