In [7]:
import pandas as pd
import numpy as np

In [5]:
name = ['raja', 'ram', 'mohan', 'rai']
ages=[10,20,30,40]
d = {"Name": name, "Age": ages}
pd.DataFrame(d)

    Name  Age
0   raja   10
1    ram   20
2  mohan   30
3    rai   40

In [9]:
df = pd.DataFrame(np.arange(100).reshape(10,10), index=list("check12345"), columns=list("jklmnopqrs"))

In [11]:
df.head(2)

    j   k   l   m   n   o   p   q   r   s
c   0   1   2   3   4   5   6   7   8   9
h  10  11  12  13  14  15  16  17  18  19

In [12]:
df.tail(4)

    j   k   l   m   n   o   p   q   r   s
2  60  61  62  63  64  65  66  67  68  69
3  70  71  72  73  74  75  76  77  78  79
4  80  81  82  83  84  85  86  87  88  89
5  90  91  92  93  94  95  96  97  98  99

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, c to 5
Data columns (total 10 columns):
j    10 non-null int32
k    10 non-null int32
l    10 non-null int32
m    10 non-null int32
n    10 non-null int32
o    10 non-null int32
p    10 non-null int32
q    10 non-null int32
r    10 non-null int32
s    10 non-null int32
dtypes: int32(10)
memory usage: 480.0+ bytes