In [1]:
import pandas as pd

In [18]:
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('train.csv')

In [4]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
mod = data.drop(['PassengerId', 'Name','Ticket', 'Fare', 'Cabin', 'Embarked'], axis=1)

In [9]:
mod.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch'], dtype='object')

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le = LabelEncoder()

In [10]:
le.fit(mod['Sex'])

LabelEncoder()

In [14]:
mod['Sex'] = le.transform(mod['Sex'])

In [17]:
mod.describe()

         Survived      Pclass         Sex         Age       SibSp       Parch
count  891.000000  891.000000  891.000000  714.000000  891.000000  891.000000
mean     0.383838    2.308642    0.647587   29.699118    0.523008    0.381594
std      0.486592    0.836071    0.477990   14.526497    1.102743    0.806057
min      0.000000    1.000000    0.000000    0.420000    0.000000    0.000000
25%      0.000000    2.000000    0.000000   20.125000    0.000000    0.000000
50%      0.000000    3.000000    1.000000   28.000000    0.000000    0.000000
75%      1.000000    3.000000    1.000000   38.000000    1.000000    0.000000
max      1.000000    3.000000    1.000000   80.000000    8.000000    6.000000

In [19]:
study_data  = mod.dropna()

In [20]:
study_data.describe()

         Survived      Pclass         Sex         Age       SibSp       Parch
count  714.000000  714.000000  714.000000  714.000000  714.000000  714.000000
mean     0.406162    2.236695    0.634454   29.699118    0.512605    0.431373
std      0.491460    0.838250    0.481921   14.526497    0.929783    0.853289
min      0.000000    1.000000    0.000000    0.420000    0.000000    0.000000
25%      0.000000    1.000000    0.000000   20.125000    0.000000    0.000000
50%      0.000000    2.000000    1.000000   28.000000    0.000000    0.000000
75%      1.000000    3.000000    1.000000   38.000000    1.000000    1.000000
max      1.000000    3.000000    1.000000   80.000000    5.000000    6.000000

In [25]:
table = study_data.groupby(["Sex", "Pclass"]).mean()["Age"].reset_index()

In [26]:
table.head()

   Sex  Pclass        Age
0    0       1  34.611765
1    0       2  28.722973
2    0       3  21.750000
3    1       1  41.281386
4    1       2  30.740707

In [27]:
def fill_age(row):
    if not row.notna()["Age"]:
        row["Age"] = table.loc[((table['Sex'] == row["Sex"]) & (table['Pclass'] == row["Pclass"]))]["Age"]  
    return row

In [28]:
mod = mod.apply(fill_age, axis=1)

In [29]:
mod.describe()

         Survived      Pclass         Sex         Age       SibSp       Parch
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642    0.647587   29.318643    0.523008    0.381594
std      0.486592    0.836071    0.477990   13.281103    1.102743    0.806057
min      0.000000    1.000000    0.000000    0.420000    0.000000    0.000000
25%      0.000000    2.000000    0.000000   21.750000    0.000000    0.000000
50%      0.000000    3.000000    1.000000   26.507589    0.000000    0.000000
75%      1.000000    3.000000    1.000000   36.000000    1.000000    0.000000
max      1.000000    3.000000    1.000000   80.000000    8.000000    6.000000

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [36]:
X, y = mod.drop(["Survived"], axis=1), mod[["Survived"]]

In [38]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

In [42]:
model = DecisionTreeClassifier(criterion='entropy', max_depth=10)

In [ ]:
model.fit(X_train, Y)