In [27]:
line = "Coding Blocks"

In [7]:
sec = 'Welcome "to" Coding Blocks'

In [6]:
print(line)

Welcome 'to' Coding Blocks

In [8]:
print(sec)

Welcome "to" Coding Blocks

In [19]:
raw = r"""this can be \n

multiline"""

In [20]:
print(raw)

this can be \n

multiline

In [21]:
raw

'this can be \\n\n\nmultiline'

In [22]:
line

"Welcome 'to' Coding Blocks"

In [28]:
for item in line:
    print(item)

C
o
d
i
n
g

B
l
o
c
k
s

In [29]:
line[0]

'C'

In [30]:
line[-1]

's'

In [31]:
line[2:7]

'ding '

In [33]:
line[3:3]

''

In [34]:
line[4:3]

''

In [35]:
line[-3:-2]

'c'

In [36]:
line[-2:-3]

''

In [37]:
line[0:6:2]

'Cdn'

In [38]:
baby = "Ravi"

In [39]:
baby = "mohit"

In [40]:
baby.capitalize()

'Mohit'

In [41]:
type(baby)

str

In [42]:
baby = len(baby)

In [43]:
type(baby)

int

In [44]:
baby

5

In [52]:
line = "I got {} percent in {} subjects"

In [59]:
out = line.format(55, "पंज")

In [60]:
out

'I got 55 percent in पंज subjects'

## lists

In [24]:
li = [22, 44, 66, 77]

In [25]:
b = list()

In [26]:
li[0]

22

In [27]:
li[-1]

77

In [28]:
li[1:3]

[44, 66]

In [29]:
li[2] = 100

In [30]:
li

[22, 44, 100, 77]

In [31]:
li.append(200)

In [32]:
li

[22, 44, 100, 77, 200]

In [33]:
li.insert(1, 33)

In [43]:
fruits = ["Apple", "Mango"]

s_fruits = ["Grapes", "Lichi"]

In [44]:
fruits.extend(s_fruits)

In [46]:
fruits

['Apple', 'Mango', 'Grapes', 'Lichi']

In [47]:
fruits.extend("Cherry")

In [48]:
fruits

['Apple', 'Mango', 'Grapes', 'Lichi', 'C', 'h', 'e', 'r', 'r', 'y']

In [49]:
fruits.extend(11)

TypeError: 'int' object is not iterable

In [50]:
fruits.append(print)

In [51]:
fruits

['Apple',
 'Mango',
 'Grapes',
 'Lichi',
 'C',
 'h',
 'e',
 'r',
 'r',
 'y',
 <function print>]

In [52]:
fruits[-1]("Hello world")

Hello world

In [55]:
something = print

In [59]:
something("Mojo jojo")

Mojo jojo

In [57]:
print("Mojo")

Mojo

In [58]:
print("jojo")

jojo

In [64]:
"Guava" in fruits

False

In [71]:
1 in [1, 4, 6]

True

In [76]:
fruits.pop(0)

'Apple'

In [77]:
fruits

['Mango', 'Grapes', 'Lichi', 'C', 'h', 'e', 'r', 'r']

In [81]:
fruits.append(2)

In [82]:
fruits.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

## Tuple

In [83]:
tup = (22, 55, 77)

In [86]:
tup[1:]

(55, 77)

In [87]:
tup[0] = 8

TypeError: 'tuple' object does not support item assignment

In [88]:
a = [22, 44, 66]
b = [55, 99]

c = a + b

In [89]:
c

[22, 44, 66, 55, 99]

In [91]:
(44, 66) + ("kungfu", "panda")

(44, 66, 'kungfu', 'panda')

In [95]:
a = 66
b = 88

In [96]:
# a, b = b, a

In [97]:
t = b, a
a, b = t

In [102]:
2 * [3,]

[3, 3]

In [103]:
2 * (3,)

(3, 3)

In [104]:
[]

[]

In [110]:
t = ()

In [108]:
type(t)

tuple

In [111]:
tup[2:2]

()

## sets

In [113]:
s = {1, 4, 6, 8}

In [119]:
s.add(100)

In [120]:
print(s)

{1, 4, 100, 6, 8, 11}

In [121]:
s[0]

TypeError: 'set' object does not support indexing

In [122]:
for item in s:
    print(item)

1
4
100
6
8
11

In [123]:
s.discard(1)

In [124]:
s

{4, 6, 8, 11, 100}

In [128]:
s.issubset({4, 6, 8, 11, 100})

True

In [129]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [130]:
tuple("hello")

('h', 'e', 'l', 'l', 'o')

In [131]:
set("hello")

{'e', 'h', 'l', 'o'}

In [132]:
tup = (4, 7, 9)

In [133]:
list(tup)

[4, 7, 9]

In [142]:
list(range(9, 1, -2))

[9, 7, 5, 3]