In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [11]:
data = pd.read_csv('../datasets/word2vec/embedding/wikipedia_color_names.csv')

In [12]:
data.head()

,Name,Hex (24 bit),Red (8 bit),Green (8 bit),Blue (8 bit),Hue (degrees),HSL.S (%),"HSL.L (%), HSV.S (%), HSV.V (%)"
0,Absolute zero,#0048BA,0,72,186,217.0,100.0,37.0
1,Acid green,#B0BF1A,176,191,26,65.0,76.0,43.0
2,Aero,#7CB9E8,124,185,232,206.0,70.0,70.0
3,Aero blue,#C9FFE5,201,255,229,151.0,100.0,89.0
4,African violet,#B284BE,178,132,190,288.0,31.0,63.0

In [16]:
X, y = data.iloc[:, 2:5].values, data.iloc[:,0].values